<div class="contact ">
    <form class="col-lg-8">
        <div class="row">
            <h1>Contact Us <i class="bi bi-person-rolodex"></i></h1>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" placeholder="FIRSTNAME" class="form-control">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" placeholder="LASTNAME" class="form-control">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="email" placeholder="EMAILADDRESS" class="form-control">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="number" placeholder="MOBILENUMBER" class="form-control">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                 <button class="subbtn">Submit <i class="bi bi-clipboard-check"></i></button>
            </div>
        </div>
    </form>
</div>
