<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-2">
            <img src="/assets/images/about1.jpg" alt="">
        </div>
        <div class="col-lg-6 mt-2">
            <h2 style="font-weight: bold;">ABOUT US</h2>
            <p style="font-size: 18px; font-weight: bold;">FASHIONHOLIC</p>
            <p>‘FASHIONHOLIC’ was brought into the world through a progression of spring-up stores in 2014. We needed to offer enhanced shopping background and inventive motivation and associate with those with a similar vision. Today our objective continues as before.
            <br>
            Summer 2016 saw the dispatch of ‘FASHIONHOLIC’ eponymous mark, which centers around quality, wearability, and present-day effortlessness. We cherish the sentiment of women garments, so we plan in light of the women orientations. The mark exists outside of fashion seasons. We will continue adding to the line consistently, so keep your eyes stripped.
            <br>
            Our site intends to empower you to explore classifications and items as essential as expected under the circumstances. On the off chance that you are uncertain or are discovering challenges utilizing our site, it would be ideal if you get in touch with us straightforwardly.
            </p>
            
        </div>
        
    </div>
</div>
